.featuredWorkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 600px) or (min-width: 1920px) {
    gap: var(--default-padding);
    padding: 0 var(--default-padding);
  }
}

.workList {
  list-style: none;
  padding: 0; 
  width: 100%;
}

.homeSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--default-padding);
  padding: 4rem 0;
  width: 100%;
}