.featuredWorkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
  gap: var(--default-padding);
}

.homeSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--default-padding);
  padding: 4rem 0;
  width: 100%;
}

.homeTitleSection {
  padding: 2rem 0 4rem;

  @media screen and (min-width: 768px) {
    padding: 6rem 0 12rem;
  }
}

.homeMainTitle {
  font-size: clamp(3rem, 5vw, 5rem);
  mix-blend-mode: exclusion;
  text-align: center;

  span {
    color: var(--color-bg);
    text-shadow:
      -1px -1px 0 var(--colors-street-lamp-yellow),
      1px -1px 0 var(--colors-street-lamp-yellow),
      -1px 1px 0 var(--colors-street-lamp-yellow),
      1px 1px 0 var(--colors-street-lamp-yellow);
    animation: titleAnimation 1s ease-in-out 500ms forwards;
  }

  &.animated span {
    color: var(--colors-street-lamp-yellow);
    text-shadow:
      -1px -1px 0 var(--color-bg),
      1px -1px 0 var(--color-bg),
      -1px 1px 0 var(--color-bg),
      1px 1px 0 var(--color-bg);
  }
}

@keyframes titleAnimation {
  to {
    color: var(--colors-street-lamp-yellow);
    text-shadow:
      -1px -1px 0 var(--color-bg),
      1px -1px 0 var(--color-bg),
      -1px 1px 0 var(--color-bg),
      1px 1px 0 var(--color-bg);
  }
}
