.conversationBubble {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 90ch;
  margin: 0 auto;

  p {
    font-size: clamp(2rem, 3vw, 5rem);
    line-height: 1.5;
    margin: 0;

    span {
      color: var(--colors-street-lamp-yellow);
    }
  }
}
