.workContentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: var(--default-padding);
  padding: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-flow: row nowrap;
  }
}

.workCredits {
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0;
  width: 100%;
  flex: 1;

  @media screen and (min-width: 768px) {
    background-image: url("/images/dot-bg.png");
    padding: var(--default-padding);
  }

  h3 {
    font-family: "arida", serif;
    font-weight: 900;
    text-align: left;
    line-height: 1;
    font-size: clamp(1.25rem, 3vw, 1.75rem);
  }
}

.workCopyContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0 0 var(--default-padding);
  width: 100%;
  flex: 2;
}

.workDescription {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-wrap: balance;
  line-height: 1.5;
  padding-top: 1rem;
}

.workSeries {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--default-padding);
  padding: 4rem 0 0;
  width: 100%;
}

.workSeriesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--default-padding);
  align-content: stretch;
  width: 100%;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.workEditors {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: var(--default-padding) 0 0;
  width: 100%;

  h3 {
    font-family: "arida", serif;
    font-weight: 900;
    text-align: left;
    line-height: 1.25;
    font-size: clamp(1.25rem, 3vw, 1.75rem);
  }
}