.contactPageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 4rem;
  }
}

.contactAddressContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactAddress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
