.navigation {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: background 0.25s linear;
  padding: 1.5rem 0;

  &.scrolled {
    background: color-mix(in srgb, var(--colors-black) 80%, transparent);
    backdrop-filter: blur(12px);
  }

  @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    background-color: var(--black);
    position: relative;  
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    margin: auto;
    height: 3rem;
    width: 14rem;
  }

  &:hover,
  &:focus {
    outline: 0;
    background: none;

    svg {
      fill: var(--colors-street-lamp-yellow);
    }
  }
}

.navItemList {
  list-style-type: none;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: var(--default-padding);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}

.navItem {
  &.active {
    color: var(--colors-street-lamp-yellow);
  }
}
