.editorsEntryPage {
  padding-top: 2rem;
}

.editorsEntryPageIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: var(--default-padding);
  width: 100%;
  overflow: hidden;
  height: 100%;

  @media screen and (min-width: 800px) {
    flex-flow: row nowrap;
    max-width: 60vw;
    margin: 0 auto;
  }
}

.editorsBio {
  line-height: 1.5;
  padding-top: 1rem;
}

.editorsEntryPageIntroImage {
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  width: 275px;
  height: 275px;
  margin: 0 auto;

  img {
    position: absolute;
    top: 0;
    object-fit: fill;
  }
}

.editorsEntryPageIntroContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
  width: 100%;
  flex: 1;
}

.editorsCredits {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--default-padding);
  padding: 4rem 0 0;
  width: 100%;
}

.editorsCreditsList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--default-padding);
  align-content: stretch;
  width: 100%;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
