.videoPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/dot-bg.png");
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;

  &.rounded {
    border-radius: 20px;
  }
  
  > * {
    margin: auto;
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: auto !important;
    border: 0;
  }
}