.videoPlayer {
  display: block;
  background-image: url("/images/dot-bg.png");
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;

  &.rounded {
    border-radius: 20px;
  }

  > * {
    margin: auto;
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: auto !important;
    border: 0;
  }
}

.playIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-street-lamp-yellow-alpha);
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  color: var(--colors-black);
  padding: 0.55rem;

  svg {
    width: 1.65rem;
    height: 1.65rem;
    margin: auto;
  }
}