.partnershipCopy {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  gap: var(--default-padding);
  position: relative;

  p {
    font-size: clamp(2rem, 3vw, 5rem);
    line-height: 1.5;
    margin: 0;
    color: var(--color-text);

    span {
      color: var(--color-text);
      text-decoration: underline;
      text-decoration-color: var(--colors-street-lamp-yellow);
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
    }
  }

  > div {
    justify-content: flex-start;
  }
}
