.workCard {
  background-image: url("/images/dot-bg.png");
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.workCardMeta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  padding: var(--default-padding);
  width: 100%;
  

  h2 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    flex: 1;
    line-height: 1.2;
    text-wrap: balance;
  }
}

.workCardTitle {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 100%;
  flex: 1;

  p {
    font-size: 0.75rem;
  }
}