.section {
  background-color: var(--color-bg);
  position: relative;
  padding: 4rem 0;
  scroll-margin-top: 100px;
  width: 100%;
  z-index: 1;

  &.sectionBackgroundColorBlack {
    background-color: var(--colors-black);
  }

  &.sectionBackgroundColorWhite {
    background-color: var(--colors-white);
  }

  &.sectionBackgroundColorYellow {
    background-color: var(--colors-yellow);
  }

  @media screen and (min-width: 800px) {
    padding: 6rem 0;

    &.noPadding {
      padding: 0;
    }
  }

  &.noPadding {
    padding: 0;
  }
}

.sectionContent {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  width: 100%;
}

.singleColumn {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
}

.twoColumn {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.threeColumn {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.fourColumn {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
