.section {
  background-color: var(--color-bg);
  position: relative;
  padding: 4rem 0;
  width: 100%;
  z-index: 1;

  &.noPadding {
    padding: 0;
  }

  @media screen and (min-width: 800px) {
    padding: 6rem 0;

    &.noPadding {
      padding: 0;
    }
  }
}

.sectionContent {
  opacity: 0.25;
  transform: translateY(2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 100%;

  &.inView {
    opacity: 1;
    transform: translateY(0);
  }
}