.footer {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--default-padding);
  position: relative;
  width: 100%;
  z-index: 0;
}

.footerContainer {
  background-image: url("/images/dot-bg.png");
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: var(--default-padding);
  padding: var(--default-padding);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: -2rem;
  width: 100%;
}

.copyright {
  flex: 1;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  flex: 1;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  flex: 1;
}

.socialIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.twitterIcon {
  width: 0.9rem;
  height: 0.9rem;
}