.contactFooter {
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: var(--default-padding);
  padding: 4rem 0;
  width: 100%;
  text-align: center;
  opacity: 0.25;
  transform: translateY(2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  @media (min-width: 768px) {
    padding: 6rem 0 var(--default-padding);
  }

  h1, h2 {
    font-size: clamp(4rem, 10vw, 5rem);
  }

  h1 span, h2 span {
    color: var(--colors-street-lamp-yellow);
  }

  &.inView {
    opacity: 1;
    transform: translateY(0);
  }
}