.workOverlay {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.55);
  background-image: url("/images/dot-bg.png");
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
  padding: var(--default-padding);
  text-align: center;

  > * {
    margin: auto;
  }
}

.workOverlayText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 100ch;
  text-wrap: balance;

  h2 {
    font-size: clamp(1.5rem, 5vw, 5rem);
  }

  p {
    padding-bottom: 1.5rem;
  }
}

.featuredWork {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.5s ease-in-out,
    border-radius 0.2s ease-in-out;
  transform: scale(0.9);
  transform-origin: center;
  width: 100%;

  &.inView {
    opacity: 1;
    transform: scale(1);
  }

  &:hover {
    .workOverlay {
      opacity: 1;
    }
  }
}

@media (max-width: 800px) or (min-width: 1920px) {
  .featuredWork.inView {
    border-radius: 20px;
  }
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;

  video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    border: 0;
  }
}
