.heroSlide {
  height: calc(100vh - 150px);
  min-height: calc(100vh - 150px);
  max-height: none;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.slideBackgroundMediaContainer {
  height: 100vh;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s ease-in-out;
  width: 100vw;
  z-index: -1;

  video {
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
  }

  &.inView {
    opacity: 1;
  }
}

.slideContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100%;
  padding: var(--default-padding);
  position: relative;
  width: 100vw;
  z-index: 1;

  > * {
    margin: auto;
  }

  @media (min-width: 768px) {
    padding: 4rem;
  }
}

.mediaOverlay {
  align-items: center;
  backdrop-filter: blur(15px);
  background-color: var(--colors-black);
  background-image: url("/images/dot-bg.png");
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0.75;
  padding: var(--default-padding);
  position: absolute;
  text-align: center;
  z-index: 1;
}

.slideHeader {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  justify-content: center;
  mix-blend-mode: exclusion;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  width: 100%;

  h1,
  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: clamp(2rem, 10vw, 5vw);
    margin: 0 auto;
    max-width: 25ch;
    mix-blend-mode: exclusion;
  }

  p {
    font-size: clamp(1.15rem, 4vw, 1.75rem);
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50ch;
    text-wrap: balance;
  }

  h1 {
    font-size: clamp(3rem, 10vw, 8vw);

    span {
      color: var(--color-bg);
      text-shadow:
        -1px -1px 0 var(--colors-street-lamp-yellow),
        1px -1px 0 var(--colors-street-lamp-yellow),
        -1px 1px 0 var(--colors-street-lamp-yellow),
        1px 1px 0 var(--colors-street-lamp-yellow);
      transition:
        color 1s ease-in-out,
        text-shadow 1s ease-in-out;
      transition-delay: 2s;
    }
  }

  &.animated {
    opacity: 1;

    h1 span {
      color: var(--colors-street-lamp-yellow);
      text-shadow:
        -1px -1px 0 var(--color-bg),
        1px -1px 0 var(--color-bg),
        -1px 1px 0 var(--color-bg),
        1px 1px 0 var(--color-bg);
    }
  }
}
