.slide {
  width: 100vw;
  position: relative;
  overflow: hidden;
  max-height: 1600px;

  @media (min-width: 768px) {
    min-height: 800px;
    height: calc(100vh - 100px);
  }
} 

.slideBackgroundMediaContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.inView {
    opacity: 1;
  }
}

.slideContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100vw;
  position: relative;
  z-index: 1;
  padding: var(--default-padding);

  > * {
    margin: auto;
  }

  @media (min-width: 768px) {
    padding: 4rem;
  }
}

.mediaOverlay {
  align-items: center;
  backdrop-filter: blur(15px);
  background-color: var(--colors-black);
  background-image: url("/images/dot-bg.png");
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0.75;
  position: absolute;
  z-index: 1;
  padding: var(--default-padding);
  text-align: center;
}

.slideHeader {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  mix-blend-mode: exclusion;
  transition: opacity 2s ease-in-out;
  opacity: 0;

  h1, h2, p {
    text-align: center;
  }

  h2 {
    font-size: clamp(2rem, 10vw, 5vw);
    mix-blend-mode: exclusion;
    max-width: 25ch;
    margin: 0 auto;
  }

  p {
    font-size: clamp(1.15rem, 4vw, 1.75rem);
    line-height: 1.5;
    max-width: 50ch;
    margin: 0 auto;
    text-wrap: balance;
  }

  h1 {
    font-size: clamp(3rem, 10vw, 8vw);

    span {
      color: var(--color-bg);
      text-shadow: -1px -1px 0 var(--colors-street-lamp-yellow), 1px -1px 0 var(--colors-street-lamp-yellow), -1px 1px 0 var(--colors-street-lamp-yellow), 1px 1px 0 var(--colors-street-lamp-yellow);
      transition: color 1s ease-in-out, text-shadow 1s ease-in-out;
      transition-delay: 2s;
    }
  }
    
  &.animated {
    opacity: 1;

    h1 span {
      color: var(--colors-street-lamp-yellow);
      text-shadow: -1px -1px 0 var(--color-bg), 1px -1px 0 var(--color-bg), -1px 1px 0 var(--color-bg), 1px 1px 0 var(--color-bg);
    }
  }
}

