.editorsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--default-padding);
  width: 100%;
  margin: 0 auto;

  @media (width >= 768px) {
    gap: 4rem;
  }
}

.editorsPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  width: 100%;
  padding: var(--default-padding);

  @media (width >= 768px) {
    min-height: 75vh;
  }

  > * {
    margin: auto;
    max-width: 100%;

    @media (width >= 768px) {
      max-width: 1200px;
    }
  }
}

.editorLink {
  cursor: pointer;
  font-family: var(--font-family-text);
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 200;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  color: var(--color-text);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--colors-street-lamp-yellow);
  }

  @media (width >= 768px) {
    &.activeEditor {
      color: var(--colors-street-lamp-yellow);
    }
  }
}
