.aboutPageHeader {
  padding: 6rem 0;

  h1 {
    font-size: 8vw;
    text-wrap: balance;
    text-align: center;
  }
}

.aboutConversation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 90ch;
  margin: 0 auto;
  
  p {
    font-size: clamp(2rem, 3vw, 5rem);
    line-height: 1.5;
    margin: 0;

    span {
      color: var(--colors-street-lamp-yellow);
    }
  }
}

.partnershipCopy {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  text-wrap: balance;
  gap: var(--default-padding);
  position: relative;

  p {
    font-size: clamp(2rem, 3vw, 5rem);
    line-height: 1.5;
    margin: 0;

    span {
      color: var(--colors-street-lamp-yellow);
    }
  }

  > div {
    justify-content: flex-start;
  }
}

.afterAvenueBrandmark {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  
  svg {
    height: 3rem;
    width: 3rem;
    transition: transform 0.3s ease-in-out;

    @media (min-height: 1100px) {
      transform: translateY(-8rem);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &:hover {
    color: var(--colors-street-lamp-yellow);
  }
}

.marqueeContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--default-padding);
}

