.afterAvenueBrandmark {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  svg {
    height: 5rem;
    width: 5rem;
    transform: translateY(2.15rem);
  }

  @media (max-width: 768px) {
    display: none;
  }
}
